body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 500px;
}

#messages {
    list-style: none;
    background: #1f1f1f;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

#messages li {
    margin: 10px 0;
}

form {
    display: flex;
    margin-top: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: limegreen;
    border: none;
    color: white;
}